/*------------------------------------*\
  COLORS
\*------------------------------------*/
/*
  bar:         #4080c4;
  text:        #4da626;
  qoute:       #595959;
  
  background:  #d4d8d2 --> #eef0ee;
  headers:     #1f3014;
*/

/*------------------------------------*\
  MAIN
\*------------------------------------*/
html{
    min-height:100%;
    background: #FFF;
    color:#1f3014;
    font-family: "Lucida Grande",Verdana,sans-serif;
}
.wrapper{
  margin-top:1em;
}

h1{
    /* TODO tune shade
    text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
    */
}

header blockquote{
    clear:both;
    margin-top:100px;
	text-align:center;
    font-size:1.5em;
    line-height:2.5em;
}

nav{
    display:none; /* navigation here is overdone and I don't know how to make it look beautiful */
    margin-top:10px;
}

nav ul{
    text-align:center;
}

nav ul a{
    display:block;
    width:100%;
    border-bottom:1px solid #4080c4;
}
nav ul a:hover, a i.icon-li{
    border:none;
    text-decoration:none;
}

h1{
    font-weight:bold;
    font-size:3em;
    line-height:1;
}
a, a:visited{
    color:inherit;
    opacity:1; /* override inuit.css */
}

address{
    font-style:italic;
    font-family:"Georgia", "Times New Roman", serif;
}

address span {
    float:right;
    clear:right;
    padding-left:20px;
    text-align:right;
}

blockquote{
    color:#595959;
    text-indent:0;
    font-style:italic;
}

address,h2,h3{
    color:#4080c4;
}
p{
    margin-bottom:1.2em;
}

article{
    margin-top:20px
    clear:both;
}

section{
    margin-left:12%;
}

.column{
    float:left;
    margin: 0.5em 0 0.5em -12%;
    width:10%;
    height:0.5em;
    background:#4080c4;
}

abbr{
    border-bottom:1px dotted;
}

#bio ul{
    margin-bottom:1.5em;
}
#bio li{
    display:block;
    height:26px;
    list-style-type:none;
}

#bio li a{
    display:block;
    height:inherit;
    line-height:26px;
}
#bio li span{
    float: left;
    margin: 0px 0px 0px -30%;
    width: 25%;
    text-align: right;
}
#tech li{
    margin:0;
    list-style-type:none;
}
#tech p, #edu p{
    line-height:1.8em;
}
.timeline{
    float:left;
    clear:both;
    margin: 0 0 0 -12%;
}
.sup, .sub{
   color:#4080c4;
   font-size:0.5em;
}
.ub11,.ub12,.ub13,.ub14{
   text-align:right;
}
.up11, .ub11{
  margin-left:-9.5%;
}
.up12, .ub12{
  margin-left:-7%;
}
.up13, .ub13{
  margin-left:-4.5%;
}
.up14, .ub14{
  margin-left:-2%;
}
.tlcolor{
  display: block;
  height: 0.4em;
  background: rgb(64,128,196); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(64,128,196,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(64,128,196,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(64,128,196,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(64,128,196,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(64,128,196,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(64,128,196,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4080C4', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-8 */
}
#tl-1{
  display: block;
  width: 7.5%;
  height: 0.4em;
  background: rgb(64,128,196);
}
#tll-1{
  margin-top:-0.4em;
  margin-left:-4.5%;
  width:2.5%;
  height:0.3em;
  border-bottom:0.1em solid #AAA;
}
#tl-2{
  width: 10%;
}
#tll-3{
  width:2.5%;
  height:0.3em;
  border-bottom:0.1em solid #AAA;
}
#tl-3{
  margin-top:-0.4em;
  margin-left:-9.5%;
  width: 7.5%;
  height: 0.4em;
}
#tll-41{
  width:2.5%;
  height:0.3em;
  border-bottom:0.1em solid #AAA;
}
#tll-42{
  margin-top:-0.4em;
  margin-left:-7%;
  width:5%;
  height:0.3em;
  border-bottom:0.1em solid #AAA;
}
#tl-4{
  margin-top:-0.4em;
  margin-left:-9.5%;
  width: 2.5%;
  height: 0.4em;
  background: rgb(64,128,196);
}
#tll-5{
  width:7.5%;
  height:0.3em;
  border-bottom:0.1em solid #AAA;
}
#tl-5{
  margin-top:-0.4em;
  margin-left:-4.5%;
  width: 2.5%;
  height: 0.4em;
}
#resume {
  clear:both;
}
#resume p span{
    float: left;
    margin: 0px 0px 0px -30%;
    width: 28%;
    text-align: right;
}

/*------------------------------------*\
  DETAILS
\*------------------------------------*/
::-moz-selection{
    background:#4080c4;
    color:#ffffff;
    text-shadow:none;
}
::selection{
    background:#4080c4;
    color:#ffffff;
    text-shadow:none;
} 
a:link{
    -webkit-tap-highlight-color:#4080c4;
}

/*------------------------------------*\
  IMAGES
\*------------------------------------*/
#logo{
    margin-bottom:1.5em;
}

/*------------------------------------*\
  NARROW
\*------------------------------------*/
/*
  CSS for tablets and narrower devices
  */

@media (min-width:721px) and (max-width:960px){ }
/*--- END NARROW ---*/

/*------------------------------------*\
  MOBILE
\*------------------------------------*/
/*
  CSS for mobile devices.
  Linearise it!
  */

@media (max-width:720px){
    body{
	font-size:0.75em;
    }
    header h1{
        margin-bottom:0.25em;
    }
    header blockquote{
        margin-top:0px;
    }
}
/*--- END MOBILE ---*/
